RESEND_API_KEY=re_JV7Kf3Zo_4v64YTCKv5hG7bKtLpm5w2kc
FROM_EMAIL=contato@armbuilds.com
TO_EMAIL=armbuildscompany@gmail.com
VITE_API_BASE_URL=
VITE_CONTACT_EMAIL=contato@armbuilds.com
VITE_CONTACT_PHONE=+55 (41) 99815-7368
VITE_CONTACT_WHATSAPP_NUMBER=5541998157368
VITE_CONTACT_WHATSAPP_MESSAGE=Olá! Vim pelo site da Arm Builds e gostaria de conversar sobre um projeto.
